### Root-level .gitignore ###

### key 파일 / env 파일 ###
*.pem
*.env

### 부트스트랩 데이터/정적 리소스 디렉터리 (Git 미관리) ###
bootstrap/

### 덤프 데이터 ###
dump/

### .DS_Store 파일 ###
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
