[mysqld]
# =========================
# Memory (Docker 1.5GB)
# =========================
innodb_buffer_pool_size = 900M
innodb_log_buffer_size  = 32M

# =========================
# Connection
# =========================
max_connections = 100
thread_stack = 256K

# =========================
# Per-connection buffers
# =========================
sort_buffer_size = 1M
join_buffer_size = 1M
read_buffer_size = 512K
read_rnd_buffer_size = 512K

# =========================
# Stability
# =========================
skip-host-cache
skip-name-resolve
