name: Prod nginx docker compose reload

on:
  push:
    branches: [ "main" ]
    paths:
      - "prod/app/**"

permissions:
  id-token: write # OIDC 필수
  contents: read

env:
  AWS_REGION: ap-northeast-2
  AWS_IAM_ROLE: arn:aws:iam::265507129563:role/role-github-actions-eodi

jobs:
  reload-prod-nginx:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (for history)
        uses: actions/checkout@v4

      - name: Configure AWS credentials - OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_IAM_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Reload nginx docker compose
        run: |
          aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --targets \
              "Key=tag:project,Values=eodi" \
              "Key=tag:phase,Values=prod" \
              "Key=tag:role,Values=app" \
            --comment "Reload prod nginx docker compose" \
            --parameters '{
              "commands": [
                "set -e",
                "cd /opt/eodi/infra/prod/app/compose",
                "if docker compose ps -q nginx | grep -q .; then docker compose exec nginx nginx -t && docker compose restart nginx; else docker compose up -d nginx; fi"
              ]
            }'